<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1657396983/Mille%CC%81sime_zsbeqt.webp" %>
    <% end %>

    <div class="btn btn-nav" data-bs-toggle="modal" data-bs-target="#triggers">
      Trouvez un cardex Millésime
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="triggers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cardex</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <% if user_signed_in? %>
            <div class="row">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <div class="col-12 cardex">Se déconnecter</div>
              <% end %>
            </div>
          <% else %>
            <%= link_to new_user_session_path do %>
              <div class="col-12 cardex">Se connecter</div>
            <% end %>
          <% end %>
          <div class="row">
            <%= link_to root_path do %>
              <div class="col-12 cardex">Maisons</div>
            <% end %>
          </div>
          <div class="row">
            <%= link_to rails_admin_path do %>
              <div class="col-12 cardex">Admin</div>
            <% end %>
          </div>
          <div class="row">
            <a href="https://api.whatsapp.com/send?phone=33652751072"><div class="col-12 cardex">Envoyer un message</div></a>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

