<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1657396983/Mille%CC%81sime_zsbeqt.webp" %>
    <% end %>


    <% unless user_signed_in? %>
      <div class="btn btn-nav" data-bs-toggle="modal" data-bs-target="#triggers">
        Connectez-vous !
      </div>
    <% else %>
      <% if current_user.email.include?('millesime-collection.com') %>
        <div class="btn btn-nav-pro" data-bs-toggle="modal" data-bs-target="#pros">
          Vous êtes connecté(e)
        </div>
      <% else %>
        <div class="btn btn-nav-visitor" data-bs-toggle="modal" data-bs-target="#visitors">
          Créez-vous un profil Millésimé
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="triggers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cardex</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= link_to new_user_session_path do %>
            <div class="btn btn-nav-pro center">Se connecter</div>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <div class="btn btn-nav-pro center">Créer un compte</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pros" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cardex</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="cardex-segment">Se déconnecter</div>
          <% end %>
          <div class="row">
            <a href="https://api.whatsapp.com/send?phone=33652751072"><div class="cardex-segment">Envoyer un message</div></a>
          </div>
          <%= link_to rails_admin_path do %>
            <div class="cardex-segment">Administration</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="visitors" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cardex</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="btn btn-nav-pro center">Se déconnecter</div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

