<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
      <img src= 'https://res.cloudinary.com/da2krghvd/image/upload/v1657396895/Mille%CC%81sime_Etoiles_omdyek.png' class= 'img-fluid'>
    </div>
  </div>
  <div class="row">
    <% if user_signed_in? && current_user.email.include?('@millesime-collection.com') || user_signed_in? && current_user.admin? %>
      <%= link_to new_mail_order_path do %>
        <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Commande d'email</div>
      <% end %>
    <% end %>
  </div>
  <div class="btn btn-nav" data-bs-toggle="modal" data-bs-target="#brindos">
    Maison de Brindos
  </div>
  <div class="btn btn-nav" data-bs-toggle="modal" data-bs-target="#leognan">
    Maison de Léognan
  </div>
  <div class="btn btn-nav" data-bs-toggle="modal" data-bs-target="#megeve">
    Maison de Megève
  </div>
  <div class="btn btn-nav" data-bs-toggle="modal" data-bs-target="#raba">
    Maison de Raba
  </div>
  <div class="btn btn-nav" data-bs-toggle="modal" data-bs-target="#sacy">
    Maison de Sacy
  </div>
  <div class="row">
    <a href="https://api.whatsapp.com/send?phone=33652751072"><div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Envoyer un message</div></a>
  </div>
</div>



<div class="modal fade" id="brindos" tabindex="-1" aria-labelledby="cardex-brindos" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-brindos">Cardex de la Maison Brindos Lac et Château</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to 'Maison Brindos', brindos_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to 'Hébergement Brindos', brindos_room_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Restaurant Brindos', brindos_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Spa Brindos', brindos_spa_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Brindos professionnels', brindos_pro_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="leognan" tabindex="-1" aria-labelledby="cardex-leognan" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-leognan">Cardex de la Maison leognan Lac et Château</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to 'Maison leognan', leognan_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to 'Restaurant leognan', leognan_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Clients leognan pros', leognan_pro_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="megeve" tabindex="-1" aria-labelledby="cardex-megeve" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-megeve">Cardex du Grand Hôtel Soleil d'Or</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to "Maison du Soleil d'Or", megeve_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to "Hébergement du Soleil d'Or", megeve_room_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Restaurant du Soleil d'Or", megeve_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Clients du spa du Soleil d'Or", ghso_spa_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="raba" tabindex="-1" aria-labelledby="cardex-raba" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-raba">Cardex du Grand Hôtel Soleil d'Or</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to "Maison de Rabar", raba_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to "Hébergement de Raba", raba_room_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Restaurant de Raba", raba_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Clients du spa de raba", raba_spa_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Clients pro de Raba", raba_pro_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sacy" tabindex="-1" aria-labelledby="cardex-sacy" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-sacy">Cardex du Château de Sacy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to "Maison de Sacy", sacy_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to "Hébergement de sacy", sacy_room_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Restaurant de sacy", sacy_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Clients du spa de sacy", sacy_spa_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Clients pro de sacy", sacy_pro_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
