<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
      <img src= 'https://res.cloudinary.com/da2krghvd/image/upload/v1657396895/Mille%CC%81sime_Etoiles_omdyek.png' class= 'img-fluid'>
    </div>
  </div>
  <div class="row">
    <% if user_signed_in? && current_user.email.include?('@millesime-collection.com') || user_signed_in? && current_user.admin? %>
      <%= link_to new_mail_order_path do %>
        <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Commande d'email</div>
      <% end %>
    <% end %>
  </div>
  <div class="btn btn-nav" data-bs-toggle="modal" data-bs-target="#brindos">
    Maison de Brindos
  </div>
  <div class="row">
    <a href="https://api.whatsapp.com/send?phone=33652751072"><div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Envoyer un message</div></a>
  </div>
</div>



<div class="modal fade" id="brindos" tabindex="-1" aria-labelledby="cardex-brindos" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-brindos">Cardex de la Maison Brindos Lac et Château</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to 'Maison Brindos', brindos_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to 'Hébergement Brindos', brindos_room_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Restaurant Brindos', brindos_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Spa Brindos', brindos_spa_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Brindos professionnels', brindos_pro_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


