<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
      <img src= 'https://res.cloudinary.com/da2krghvd/image/upload/v1657396895/Mille%CC%81sime_Etoiles_omdyek.png' class= 'img-fluid'>
    </div>
  </div>
  <div class="row">
    <% if user_signed_in? && current_user.email.include?('@millesime-collection.com') || user_signed_in? && current_user.admin? %>
      <%= link_to new_mail_order_path do %>
        <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Commande d'email</div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <%= link_to millesime_customers_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Millésime</div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to francophone_customers_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Millésime FR</div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to anglophone_customers_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Millésime EN</div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to raba_customers_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Le Domaine de Raba</div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to leognan_customers_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Le Manège</div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to sacy_customers_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Le Château de Sacy</div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to megeve_customers_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Le Soleil d'Or</div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to brindos_customers_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Brindos Lac et Chateau</div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to theoule_customers_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">La Plage Blanche</div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to porto_customers_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Le Cocorico</div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to rails_admin_path do %>
      <div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Admin</div>
    <% end %>
  </div>
  <div class="row">
    <a href="https://api.whatsapp.com/send?phone=33652751072"><div class="col-4 col-md-6 col-sm-9 col-xs-12 mx-auto cardex">Envoyer un message</div></a>
  </div>
</div>






