<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 col-10 mx-auto">
      <img src= 'https://res.cloudinary.com/da2krghvd/image/upload/v1658748177/Mill%C3%A9sime/Logo-Millesime_18MARs2020_v1.2.png' class= 'img-fluid' style='margin-top: 30px;margin-bottom: 30px;'>
    </div>
  </div>
  <div class="row">
    <% unless user_signed_in? %>
      <div class="btn btn-nav-pro center" data-bs-toggle="modal" data-bs-target="#contact">Répondre à la question</div>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.marketing? %>

        <div class="row">
          <div class="col-lg-3 mx-auto space">
            <div class="btn btn-nav-pro center" data-bs-toggle="modal" data-bs-target="#brindos">
              Brindos Lac et Château
            </div>
          </div>
          <div class="col-lg-3 mx-auto space">
            <div class="btn btn-nav-pro center" data-bs-toggle="modal" data-bs-target="#leognan">
              Le Manège
            </div>
          </div>
          <div class="col-lg-3 mx-auto space">
            <div class="btn btn-nav-pro center" data-bs-toggle="modal" data-bs-target="#megeve">
              Le Soleil d'Or
            </div>
          </div>
          <div class="col-lg-3 mx-auto space">
            <div class="btn btn-nav-pro center" data-bs-toggle="modal" data-bs-target="#raba">
              Le Domaine de Raba
            </div>
          </div>
          <div class="col-lg-3 mx-auto space">
            <div class="btn btn-nav-pro center" data-bs-toggle="modal" data-bs-target="#sacy">
              Le Château de Sacy
            </div>
          </div>
          <div class="col-lg-3 mx-auto space">
            <div class="btn btn-nav-pro center" data-bs-toggle="modal" data-bs-target="#theoule">
              La Plage Blanche
            </div>
          </div>
          <div class="col-lg-3 mx-auto space">
            <div class="btn btn-nav-pro center" data-bs-toggle="modal" data-bs-target="#porto">
              Cocorico
            </div>
          </div>
          <div class="col-lg-3 mx-auto space">
            <div class="btn btn-nav-pro center" data-bs-toggle="modal" data-bs-target="#millesime">
              Millesime
            </div>
          </div>
          <div class="col-lg-3 mx-auto space">
            <div class="btn btn-nav-pro center" data-bs-toggle="modal" data-bs-target="#mail_order">Commande d'email</div>
          </div>

          <div class="col-lg-3 mx-auto space">
            <a href="https://api.whatsapp.com/send?phone=33652751072"><div class="btn btn-nav-pro center">Envoyer un message</div></a>
          </div>
          <%= link_to customers_path do %>
            <div class="col-lg-3 mx-auto space">
              <div class="btn btn-nav-pro center">Le MICE par Millésime</div>
            </div>
          <% end %>
          <%= link_to custom_lists_path do %>
            <div class="col-lg-3 mx-auto space">
              <div class="btn btn-nav-pro center">Custom list</div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="row">
          <div class="btn btn-nav-pro center">Créez vous un profil millésimé</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="contact" tabindex="-1" aria-labelledby="contact" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-contact">Question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for @contact do |f| %>
            <div class="row">
              <div class="col-12 form">
                <h3>Question</h3>
                <div class="row">
                  <div class="col-12">
                    <%= f.input :answer, label: 'Votre Réponse' %>
                  </div>
                  <div class="col-12">
                    <%= f.input :surname, label: 'Votre Prénom' %>
                  </div>
                  <div class="col-12">
                    <%= f.input :name, label: 'Votre nom'%>
                  </div>
                  <div class="col-12">
                    <%= f.input :email, label: 'Votre Email'%>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 form-btn ">
                    <%= f.button :submit, 'Valider', class: 'btn btn-validate' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="mail_order" tabindex="-1" aria-labelledby="mail_order" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-mail_order">Demande de mailing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for @mail_order do |f| %>
            <div class="row">
              <div class="col-12 form">
                <h3>Mail</h3>
                <div class="row">
                  <div class="col-12">
                    <%= f.input :title, label: 'Titre du mail' %>
                  </div>
                  <div class="col-12">
                    <%= f.input :goal, label: 'Objectif du mail' %>
                  </div>
                  <div class="col-12">
                    <%= f.input :text, label: 'Contenu du mail'%>
                  </div>
                  <div class="col-12">
                    <%= f.input :send_date, label: "Date d'envoi souhaitée"%>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 form-btn ">
                    <%= f.button :submit, 'Valider', class: 'btn btn-validate' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="brindos" tabindex="-1" aria-labelledby="cardex-brindos" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-brindos">Cardex de Brindos Lac et Château</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to 'Brindos Lac et Château', brindos_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to 'Hébergement à Brindos', brindos_room_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Restaurant de Brindos', brindos_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Spa de Brindos', brindos_spa_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Clients pros de Brindos', brindos_pro_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="leognan" tabindex="-1" aria-labelledby="cardex-leognan" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-leognan">Cardex du Manège</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to 'Le Manège', leognan_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to 'Le Restaurant du Manège', leognan_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to 'Clients pros du Manège', leognan_pro_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="megeve" tabindex="-1" aria-labelledby="cardex-megeve" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-megeve">Cardex du Grand Hôtel du Soleil d'Or</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to "Le Grand Hôtel du Soleil d'Or", megeve_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to "Hébergement au Soleil d'Or", megeve_room_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Restaurant du Soleil d'Or", megeve_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Spa du Soleil d'Or", ghso_spa_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="raba" tabindex="-1" aria-labelledby="cardex-raba" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-raba">Cardex du Domaine de Raba</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to "Le Domaine de Raba", raba_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to "Hébergement au Domaine de Raba", raba_room_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Restaurant du Domaine de Raba", raba_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Spa du Domaine de raba", raba_spa_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Clients pros du Domaine de Raba", raba_pro_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sacy" tabindex="-1" aria-labelledby="cardex-sacy" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-sacy">Cardex du Château de Sacy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to "Le Château de Sacy", sacy_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to "Hébergement au Château sacy", sacy_room_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Restaurant du Château sacy", sacy_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Spa du Château sacy", sacy_spa_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Clients pros de Sacy", sacy_pro_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="theoule" tabindex="-1" aria-labelledby="cardex-theoule" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-theoule">Cardex de la Plage Blanche</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to "La Plage Blanche", theoule_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to "Transats de la Plage Blanche", theoule_beach_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Restaurant de la Plage Blanche", theoule_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Spa de la Plage Blanche", theoule_spa_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="porto" tabindex="-1" aria-labelledby="cardex-porto" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-porto">Cardex du Cocorico</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to "Cocorico", porto_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to "Restaurant du Cocorico", porto_restaurant_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Hébergement au Cocorico", porto_room_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="millesime" tabindex="-1" aria-labelledby="cardex-millesime" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardex-millesime">Cardex de millesime</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <%= link_to "Millesime", millesime_customers_path, class: 'cardex-segment' %>
          </div>
          <div class="row">
            <%= link_to "Millesime FR", francophone_customers_path, class: 'cardex-segment'  %>
          </div>
          <div class="row">
            <%= link_to "Millesime EN", anglophone_customers_path, class: 'cardex-segment'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



